<p>new1 works!</p>
<br>
<label for="Firstname">
    First Name: <input type="text" [(ngModel)]="fname"><br>
</label>

<label for="Lastname">
    Last Name: <input type="text" [(ngModel)]="lname"><br>
</label>
<label for="age">
    age: <input type="text" [(ngModel)]="age"><br>
</label>
<table border="3">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>age</th>
    </tr>
    <tr>
        <td>{{fname}}</td>
        <td>{{lname}}</td>
        <td>{{age}}</td>
    </tr>
</table>

<table border="2" align="center">
    <tr style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <th>CityName</th>
    </tr>
    <ng-container *ngIf="age>20; else allCities">
        <tr>
            <td>{{city[0]}}</td>
        </tr>
    </ng-container>
    <ng-template #allCities>
        <tr *ngFor="let i of city">
            <td>{{i}}</td>
        </tr>
    </ng-template>
</table>

