<h1>Hello World</h1>
<h2>Welcome to web-lab</h2>
<h2>{{title}}</h2>
<hr style="border: 3; border-color: blueviolet;">
<table align="center" border="2px" style="background-color: rgb(157, 255, 0)166, 255, 0); text-align: center; color:brown;">
  <thead>
    <tr style="font-size: larger;">
      <th>slno</th>
      <th>Name</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h4>{{id}}</h4></td>
      <td><h4>{{Name}}</h4></td>
      <td><h4>{{age}}</h4></td>
    </tr>
    <tr>
      <td><h4>{{id1}}</h4></td>
      <td><h4>{{Name1}}</h4></td>
      <td><h4>{{age1}}</h4></td>
    </tr>
  </tbody>
</table>
<br><br>
Value of a is {{a}}
<br>
Value of b is {{b}} <br>
Sum of a and b is {{a+b}} <br>
value of c is {{c}} <br>
<input type="button" value="add" name="b1" (click)="add()">